<div id="xch-payment-check" data-url="{{ url_refresh }}">
    <p>{{ 'Your order number is @order_number'|t({'@order_number': order_number}) }}</p>
    <p>{{ 'This payment is made in $xch (Chia™), the transaction must be made on the blockchain to the address @xch_target_address to be validated.'|t({'@xch_target_address': xch_target_address}) }}</p>
    <div class="lds-container">
        <p><input type="text" disabled="disabled" value="{{ xch_target_address }}" class="address-copy" /></p>

    </div>
    <div class="lds-container">
        <h2>{{ amount }}</h2>
    </div>
    <div class="lds-container">
        <p>{{ 'have to be transfer to this address.' }}</p>
    </div>
    <div class="lds-container">
        <p><b>{{ 'This offer will expire in @expiration and order will be voided.'|t({'@expiration': expiration}) }}</b></p>
    </div>
    <div class="lds-container">
        <div class="lds-circle"><div></div></div>
        <p>{{ 'Retrying'|t }}</p>
    </div>
</div>